name: Build Java Feature Branch

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: '17'

jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/feature/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Export all YAML entries as env vars
        run: |
          export_vars() {
            local prefix=$1
            local file=$2
            for key in $(yq "$prefix | keys | .[]" $file); do
              value=$(yq "$prefix.\"$key\"" $file)
              if [[ "$value" =~ ^\{.*\}$ || "$value" =~ ^\[.*\]$ ]]; then
                export_vars "$prefix.\"$key\"" $file
              else
                env_key=$(echo "$prefix.$key" | sed 's/\./__/g; s/^\.//')
                echo "${env_key}=${value}" >> $GITHUB_ENV
              fi
            done
          }
          export_vars '.' .a5x_devops
        shell: bash

      - name: Set up JDK ${{ env.app__stack_version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.app__stack_version }}
      - name: Build with Maven
        run: mvn clean install
        # Se usar Gradle, troque o comando acima por:
        # run: ./gradlew build

      - name: Run Maven quality checks
        working-directory: ./app
        env:
          APP_STACK: ${{ env.app__stack }}
          APP_STACK_VERSION: ${{ env.app__stack_version }}
        run: |
          mvn --batch-mode clean verify checkstyle:check pmd:check org.owasp:dependency-check-maven:check -T 1C -Dmaven.test.failure.ignore=false -DskipITs
